* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
}

main {
  background: black;
  min-height: calc(100vh - 40px);
}

header {
  background: #3fa535db;
}

.logo {
  display: block;
  margin: 20px auto auto auto;
  max-width: 350px;
}

.logo:hover {
  opacity: 0.8;
}

.navandiconplacement {
  display: flex;
  justify-content: space-between;
}

nav {
  margin: 10px 20px;
}

li {
  display: inline-block;
}

ul {
  text-align: center;
}
a,
.navlinks {
  list-style-type: none;
}
.nav__link {
  border: 5px ridge white;
}
.images:hover,
.card:hover,
.nav__link:hover {
  background: darkgreen;
}

.active {
  background: darkgreen;
}

section {
  display: grid;
  grid-template-rows: auto auto;
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2,
p {
  display: block;
  font-family: "Press Start 2p", Arial, Helvetica, sans-serif;
  color: white;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: 35px;
}
h2 {
  font-size: 25px;
}

p,
a,
form {
  font-size: 16px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  display: flex;
  gap: 10px;
}

.images {
  border: 1px solid red;
  margin: 10px;
}

.product-imggame,
.product-imgover,
.product-img {
  width: 100%;
}

.nav__link {
  display: block;
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 20px;
  margin: 8px 0px 0px 0px;
}

.shoppingicon {
  margin: 20px 50px;
}

.search_container {
  text-align: center;
}

footer {
  background: #3fa535db;
}

.copyright {
  text-align: center;
  background: #3fa535db;
}
/* Contact page, Login page, Account page*/
fieldset {
  border: black;
}

form {
  margin: auto auto;
  width: fit-content;
  color: white;
  text-align: right;
}

fieldset > div {
  margin: 20px;
}

label {
  display: inline;
  text-align: right;
}
.form-error,
.success {
  display: none;
  color: red;
}
.success {
  color: darkgreen;
}

.contactbtn {
  padding: 8px 12px;
  border: 3px ridge white;
}
.contactbtn:hover {
  opacity: 0.7;
}
/* Community Page */
.communitylinks {
  display: grid;
  justify-content: center;
}

.communitylink {
  border: 5px ridge white;
  margin: 20px;
  padding: 10px;
  width: 160px;
  text-align: center;
}

.communitylink:hover {
  background: darkgreen;
}

/* New Games*/

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  flex: 1 1;
  width: 100%;
  border: 1px solid red;
  margin: 10px;
  text-align: center;
  max-width: 500px;
}

img {
  width: 40%;
}
.product-carded {
  border: 0;
}
.cartbutton,
.submitbtn,
.returnbtn {
  padding: 5px;
  margin: 15px;
}

/* cart-page*/
.cartdiv {
  display: block;
  text-align: center;
}
.cartimg {
  width: 150px;
}

.totalprice {
  text-align: center;
}

/* Checkoutpage */
.checkingout {
  text-align: center;
}

.checkout-text {
  margin: 5px;
}

.submitbtn {
  margin: 16px;
}
/* Success */

.returncontainer {
  text-align: center;
}
