@font-face {
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif ;
    src: url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap) format('woff2');
}

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;

}

main { 
    background: black;
    margin: 0;
    padding: 0;
}


header {
    background:#ffdc71;

 }

 .logo{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;       
 }
a, .navlinks {
 list-style-type: none;
  
}

section{
    display: grid;
    grid-template-rows: auto auto;
}

h1 , h2{
    font-family:'Press Start 2p', Arial, Helvetica, sans-serif ;
    color:#ffdc71 ;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.row{ display: flex;
}
.column{
    flex:100%;
    padding: 5px;
}
.product-img{
    width: 100px;
}
.product-imggame , .product-imgover {
    width: 250px;
    
}


a, .nav__link , .navlinkbottom {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 14px;
    margin-left: 100px;
    text-decoration: none;
    float:left;
    font-size: 20px;
  }
  
footer {
      bottom: auto;
    background:#ffdc71;
  }